$min_color: black;
$min_color_trans: #b6b6b6;
$main: #b6b6b6;
$transitionEffect: 0.5s;
@mixin medium_to_small {
  @media (max-width: 991px) {
    @content;
  }
}
$buttons_color: "plus" #00897b , "pen" #8e24aa , "trash" #d32f2f ;
%flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
%input{
  display: block;
  width: 100%;
  padding: 10px 7px;
  font-size: 18px;
  border: 2px solid transparent;
  transition: $transitionEffect all ease;
  &:hover ,
  &:focus{
    outline: none;
    border-color: $min_color_trans;
  }
}
$importance: (
  "critcal": #d32f2f99,
  "significant": #303f9f99,
  "secondary": #388e3c99,
  "insignificant": #61616199
);
@each $name , $color in $importance {
  .#{$name}{
   background-color:  $color;
  }
}
%ball {
  width: 20px;
  height: 20px;
  margin: 3px 1px;
  border-radius: 50%;
  transition: $transitionEffect all ease;
  $ball_colors: "crit" #d32f2f , "sign" #303f9f , "seco" #388e3c , "insi" #616161;
  @each $name , $color in $ball_colors {
    &##{$name} {
    background-color: $color;
    }
  }
  &:hover,
  &.active {
    transform: scale(1.3);
  }
}
%myNote {
  min-width: 230px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 0px rgb(0,0,0,0.3);
  text-align: start;
  background-color: #fdd835;
  overflow: hidden;
  padding: 5px 8px;
  transition: $transitionEffect all ease;
  &.active {
    box-shadow:  0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  }
  h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 3px;
    text-transform: capitalize;
  }
  p {
    margin: 5px 3px;
    font-size: 15px;
    line-height: 1.4; 
    overflow: hidden;
  }
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #1b1b1b;
.container {
  margin-top: 25px;
  overflow: hidden;
  @include medium_to_small{
    flex-direction: column ;
  }
  .nodes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
    overflow: hidden;
    @include medium_to_small{
      flex-direction: column ;
    }
    .control {
      flex: 0.5;
      display: flex;
      flex-direction: column;
      max-width: 50%;
      margin: 0px 15px;
      @include medium_to_small{
        max-width: 100% ;
        margin: 0 20px;
      }
      .catch {
        margin: auto;
        transition: 0.5s ease-in-out all;
        width: 100%;
        .add_nodes {
          @extend %flex_center;
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          transition: $transitionEffect ease-in-out all;
          > {
            .form {
              @extend %flex_center;
              flex-wrap: wrap;
              position: relative;
              >{
                input[type="text"] {
                  @extend %input;
                  font-size: 23px
                }
                textarea {
                  @extend %input;
                  border-top-color: $min_color_trans;
                  resize: none;
                  min-height: 300px;
                }
                ul {
                  position: absolute;
                  right: 20px;
                  bottom: 55px;
                  width: fit-content;
                  li {
                    @extend %ball ;
                    display: inline-block;
                    cursor: pointer;
                  }
                }
                input[type="submit"] {
                  @extend %input;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .note {
          @extend %myNote;
          overflow: auto;
          width: 70%;
          margin: auto;
          height: 100%;
          max-height: 700px;
          position: relative;
          h2 {
            overflow: hidden;
            white-space: wrap;
            text-overflow: auto;
            font-size: 30px;
          } 
          p {
            margin-top: 10px;
            font-size: 22px;
          }
          .X {
            opacity: 0;
          }
        }
      }
      .buttons {
        width: fit-content;
        margin: 10px auto;
        pointer-events: none;
        &.show  {
          pointer-events: auto;
          button:not(:first-child) {
            opacity: 1;
          }
        }
        button {
        @each $name , $color in $buttons_color {
          &##{$name} {
          background-color: $color;
          }
        }
          margin: 5px;
          width: 55px;
          height: 55px;
          border: none;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        &:not(:first-child) {
          opacity: 0.7;
        }

        @include medium_to_small{
          width: 45px;
          height: 45px;
        }
        img {
          width: 20px;
          height: 20px;
          @include medium_to_small{
            width: 15px;
            height: 15px;
          }
        }
      }
      } 
    }
    .order {
      flex: 1;
      overflow: auto;
      min-width: 50%;
      @include medium_to_small{
        min-width: 95%;
        max-width: 95%;
      }
      >div {
        margin: 15px auto;
        padding: 10px 5px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 10px;
        border-radius: 6px;
        box-shadow: inset 0px 0px 9px -2px rgba(255, 255, 255, 0.3);
        width: 100%;
        min-height: 270px;
          @include medium_to_small{
            min-height: 220px;
            &::-webkit-scrollbar{
          display: none;
          }
          }
        .note {
          @extend %myNote;
          max-width: 230px;
          @include medium_to_small{
            min-width: 200px;
            height: 200px;
          }
        }
      }  
      }
    }
  } 
}